@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgb(192, 165, 135);
  background: linear-gradient(
    90deg,
    rgba(192, 165, 135, 1) 1%,
    rgba(241, 136, 104, 1) 50%,
    rgba(221, 102, 96, 1) 100%
  );
  transition: 1s;
}

.introMsg {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #6213ac;
  text-shadow: 0 5px 5px rgba(62, 56, 61, 0.5);
}

.msg {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
}

.msg.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.msg.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

html {
  background: url(project\ images/pexels-steve-johnson-15448473.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromTop {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.myProjects,
.background {
  color: #fff;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0em;
  font-weight: 800;
  font-size: 90px;
  margin: 20px;
}

.myName {
  color: #fff;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0em;
  font-weight: 800;
  font-size: 100px;
  animation: slideInFromTop 1s ease forwards;
  animation-delay: 2.2s;
}

.jobTitle {
  color: #fff;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  font-size: 70px;
  text-align: center;
  letter-spacing: 0em;
  margin-top: 50px;
  animation: slideInFromLeft 1s ease forwards;
  animation-delay: 2.2s;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

svg {
  margin-top: 50px;
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.5));
  animation: float 3s ease-in-out infinite;
}

.aboutInfo {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.aboutContent {
  grid-column: 2;
  margin-top: 60px;
  margin-right: 60px;
  padding-bottom: 20px;
  background: #c0a58768;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
}

.aboutMe.active {
  color: #fff;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0em;
  font-weight: 800;
  font-size: 90px;
  margin: 30px;
  animation: slideInFromTop 1s ease forwards;
}

.picture {
  grid-column: 1;
}

.myPhoto.active {
  margin-top: 80px;
  margin-left: 90px;
  max-width: 100%;
  height: 500px;
  border-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  border-style: groove;
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

.aboutContent p.active {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin: 30px;
  animation: slideInFromBottom 1s ease forwards;
}

.myProjects.active {
  animation: slideInFromTop 1s ease forwards;
}

.word0,
.word1,
.word2,
.word3,
.word4,
.word5,
.word6,
.word7,
.word8,
.word9,
.word10,
.word11 {
  display: flex;
  width: 200px;
  height: 100px;
  text-align: center;
  gap: 10px;
  margin-top: 5px;
}

a {
  color: #fff;
}

.word0 a:hover,
.word1 a:hover,
.word2 a:hover,
.word3 a:hover,
.word4 a:hover,
.word5 a:hover,
.word6 a:hover,
.word7 a:hover,
.word8 a:hover,
.word9 a:hover,
.word10 a:hover,
.word11 a:hover {
  color: #20020f;
}

.boxes {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 70px;
  flex-wrap: wrap;
}

.box0,
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box10,
.box11 {
  height: 150px;
  width: 350px;
}

.box0parents,
.box1parents,
.box2parents,
.box3parents,
.box4parents,
.box5parents,
.box6parents,
.box7parents,
.box8parents,
.box9parents,
.box10parents,
.box11parents {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 15px 4px rgba(79, 77, 77, 0.75);
  margin-bottom: 30px;
  background: #c0a58768;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
}

.box0parents:hover,
.box1parents:hover,
.box2parents:hover,
.box3parents:hover,
.box4parents:hover,
.box5parents:hover,
.box6parents:hover,
.box7parents:hover,
.box8parents:hover,
.box9parents:hover,
.box10parents:hover,
.box11parents:hover {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 15px 4px rgba(79, 77, 77, 0.75);
  margin-bottom: 30px;
  background: #c0a58768;
  border-radius: 5px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
  transform: scale(1.1);
  cursor: pointer;
}

.video {
  width: 100%;
  height: 100%;
}

.contact.active {
  color: #fff;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0em;
  font-weight: 800;
  font-size: 90px;
  margin-top: 20px;
  animation: fadeIn 2s ease;
}

.contactInfo {
  display: inline-flex;
  gap: 40px;
  margin-top: 40px;
  color: #fff;
  font-weight: 500;
}

.cC {
  display: flex;
  justify-content: center;
}

.linkedin,
.email-icon {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.5);
}

.icons {
  display: flex;
  justify-content: center;
  gap: 70px;
  color: #fff;
}

.icons img {
  animation: float 3s ease-in-out infinite;
}

.icons1,
.icons2,
.icons3,
.icons4,
.icons5,
.icons6,
.icons7,
.icons8 {
  height: 100px;
  width: 100px;
  text-align: center;
}

.background.active {
  animation: slideInFromTop 1s ease forwards;
  margin-bottom: 40px;
}

.bgContent {
  margin-top: 80px;
  text-align: center;
}

.bgContent.active,
.bgContent2.active {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  animation: slideInFromLeft 1s ease forwards;
}

.bgContent2 {
  margin-top: 30px;
  margin-left: 240px;
}

.bgGlass {
  width: 100%;
  height: 93.2vh;
  background: #c0a58768;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(30px);
}

ul {
  list-style: square;
}

li {
  padding: 10px;
}

h2 {
  color: #fff;
}

.section {
  padding: 40px;
  height: 100vh;
}

#aboutPg {
  margin-top: 90px;
}

#backgroundPg {
  margin-top: 700px;
  margin-bottom: 40px;
}

#contactPg {
  height: 70%;
}
