html {
  background: radial-gradient(circle, rgba(254,249,245,1) 51%, rgba(172,226,166,1) 100%);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

@keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInFromTop {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }  

  @keyframes slideInFromBottom {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }  

nav {
  text-decoration: none;
  font-size: 16px;
  position: sticky;
  top: 0px;
  font-family: YACkoA9eHeY-0, -apple-system, BlinkMacSystemFont, sans-serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  height: 50px;
  background-color: radial-gradient(circle, rgba(254,249,245,1) 51%, rgba(172,226,166,1) 100%);
}

.navMenuLink {
  color: #304254;
  display: flex;
  list-style-type: none;
  white-space: nowrap;
}

#horizontalMenu {
  display: flex;
  justify-content: flex-end;
}

#verticalMenu {
  display: none;
  font-family: YACkoA9eHeY-0, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1.5rem;
  background-color: #efefef;
  margin: 0 0 0 auto;
  padding: 0;
  border: 12px solid #efefef;
  height: 100%;
  width: 400px;
  max-width: 80vw;
  overflow: auto;
  box-sizing: border-box;
  z-index: 2;
  position: fixed;
  top: 0px;
  right: 0px;
  transform: translateX(400px);
  transition: all 0.35s;
}

.navMenuLinkContent {
  display: inline-block;
  text-decoration-line: none;
  font-family: YACkoA9eHeY-0, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 500;
  white-space: nowrap;
  padding: 10px 16px;
  margin-right: auto;
  color: #304254;
  overflow: hidden;
  text-overflow: ellipsis;
}

.myName,
.myProjects,
.background {
  color: #000000;
  font-family: YACkoA9eHeY-0, -apple-system, BlinkMacSystemFont, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0em;
  font-weight: 800;
  font-size: 90px;
  margin: 20px;
}

.myName {
    animation: slideInFromTop 1s ease forwards;
}

.jobTitle {
  color: #000000;
  font-size: 30px;
  font-family: YACkoA9eHeY-0, -apple-system, BlinkMacSystemFont, sans-serif;
  text-align: center;
  letter-spacing: 0em;
  margin-top: 50px;
  animation: slideInFromLeft 1s ease forwards;
  animation-delay: 0.5s;
}

.homeGif {
  border-radius: 70px;
  animation: slideInFromRight 1s ease forwards;
  animation-delay: 1s;
}

.myName,
.jobTitle,
.homeGif {
  opacity: 0;
}

.homeInfo {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
}

.aboutInfo {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.aboutContent {
  grid-column: 2;
  margin-top: 60px;
  margin-right: 60px;
}

.aboutMe {
  color: #000000;
  font-family: YACkoA9eHeY-0, -apple-system, BlinkMacSystemFont, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0em;
  font-weight: 800;
  font-size: 90px;
  margin: 50px;
  animation: slideInFromTop 1s ease forwards;
}

.picture {
  grid-column: 1;
}

.myPhoto {
  margin: 60px;
  max-width: 100%;
  height: 100%;
  border-color: #000000;
  border-style: groove;
  opacity: 0;
  animation: fadeIn 2s ease forwards, float 3s ease-in-out infinite;;
}

.aboutContent p {
  font-size: 20px;
  font-weight: 500;
  font-family: YACkoA9eHeY-0, -apple-system, BlinkMacSystemFont, sans-serif;
  color: #304254;
  text-align: left;
  margin-left: 90px;
  animation: slideInFromBottom 1s ease forwards;
}

.myProjects {
    animation: slideInFromTop 1s ease forwards;
}

.word1,
.word2,
.word3,
.word4,
.word5,
.word6,
.word7,
.word8,
.word9,
.word10,
.word11 {
  display: flex;
  width: 200px;
  height: 100px;
  text-align: center;
  gap: 10px;
  margin-top: 5px;
}

.boxes {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 70px;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.box10,
.box11 {
  height: 150px;
  width: 350px;
}

.box1parents,
.box2parents,
.box3parents,
.box4parents,
.box5parents,
.box6parents,
.box7parents,
.box8parents,
.box9parents,
.box10parents,
.box11parents {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 20px 4px rgba(0,0,0,0.75);
}

.video {
  width: 100%;
  height: 100%;
}

.contact {
  color: #000000;
  font-family: YACkoA9eHeY-0, -apple-system, BlinkMacSystemFont, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0em;
  font-weight: 800;
  font-size: 90px;
  margin-top: 20px;
  animation: fadeIn 2s ease;
}

.contactInfo {
  display: inline-flex;
  gap: 40px;
  margin-top: 40px;
  margin-left: 550px;
  color: #304254;
  font-family: YACkoA9eHeY-0, -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: 500;
}

.contact-image {
  margin-top: 40px;
  width: 65vw;
  height: 300px;
  margin-left: 290px;
  box-shadow: 5px 5px 12px 4px rgba(206, 202, 202, 0.75);
}

.linkedin,
.email-icon {
  width: 70px;
  height: 70px;
  animation: float 3s ease-in-out infinite;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 70px;
  color: #304254;
  font-family: YACkoA9eHeY-0, -apple-system, BlinkMacSystemFont, sans-serif;
}

.icons img {
    animation: float 3s ease-in-out infinite;
}

.icons1,
.icons2,
.icons3,
.icons4,
.icons5,
.icons6,
.icons7,
.icons8 {
  height: 100px;
  width: 100px;
  text-align: center;
}

.background {
    animation: slideInFromTop 1s ease forwards;
}

.bgContent {
  margin-top: 100px;
  text-align: center;
}

.bgContent,
.bgContent2 {
  font-size: 20px;
  font-weight: 500;
  color: #304254;
  font-family: YACkoA9eHeY-0, -apple-system, BlinkMacSystemFont, sans-serif;
  animation: slideInFromBottom 1s ease forwards;
}

.bgContent2 {
  margin-top: 40px;
  margin-left: 240px;
}

ul {
    list-style:square;
}

li {
  padding: 10px;
}
